<p><%= flash[:notice] %></p>

<div class="post-detail py-5">
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= image_tag @post_tea.get_image, class:"card-img-top" %>
    <div class="card-body">
      <div class="row">
        <div class="col-10">
          <h4 class="card-title">
            <%= link_to(post_tea_path(@post_tea.id), class:"text-dark") do %>
              <strong><i class="far fa-flag"></i><span> <%= @post_tea.title %></span></strong>
            <% end %>
          </h4>
          <p class="card-title">Opinion：<%= @post_tea.body %></p>
          <p class="card-text">Genre : <%= @post_tea.genre.name %></p>
          <hr>
          <span>
            <%= link_to customer_path(@post_tea.customer_id), class:"text-dark" do %>
            <i class="fas fa-user"></i> By <%= @post_tea.customer.name %><% end %> ｜ </span>
          <span><i class="fa fa-calendar"></i> <%= @post_tea.created_at.strftime('%Y/%m/%d') %> 投稿 ｜ </span>
          <span class="comments-counter">
            <%= render "public/comments/counter", post_tea: @post_tea %>  ｜
          </span>
          <span class=<%= "favorite-" + @post_tea.id.to_s %> >
            <%= render "public/favorites/btn", post_tea: @post_tea %>
          </span>
          <% if @post_tea.customer == current_customer %>
            <span> ｜ </span><%= link_to "編集", edit_post_tea_path(@post_tea), class:"text-dark" %>
            <span> ｜ </span><%= link_to "削除", post_tea_path(@post_tea), class:"text-dark", method: :delete, data: { confirm: '本当に削除しますか？' } %>
          <% end %>
        </div>
      </div>
      <div class="comments-index"><%= render "public/comments/index", post_tea: @post_tea %></div>
      <hr>
      <%= render "public/comments/form", post_tea: @post_tea, comment: @comment %>
    </div>
  </div>
</div>