<h2>PostTea search for "<%= params[:word] %>" </h2>

<table class="table table-hover table-inverse">
  <% if @range == "Customer" %>
    <thead>
      <tr></tr>
        <td></td>
        <td>Name</td>
        <td>Introduction</td>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= link_to customer_path(customer) do %><%= customer.name %><% end %></td>
          <td><%= customer.introduction %></td>
        </tr>
    <% end %>
    </tbody>
    <% elsif @range == "Genre" %>
    <thead>
      <tr></tr>
        <td></td>
        <td>name</td>
    </thead>
    <tbody>
      <% @genres.post_tea.each do |post_tea| %>
      <tr>
        <td></td>
        <td><%= post_tea.title %></td>
      </tr>
      <% end %>
    </tbody>
    <% else @range == "PostTea" %>
        <thead>
          <tr></tr>
            <td></td>
            <td>Title</td>
            <td>Opinion</td>
        </thead>
        <tbody>
          <% @post_teas.each do |post_tea| %>
          <tr>
            <td><%= link_to post_tea_path(post_tea) do %><%= post_tea.title %><% end %></td>
            <td><%= post_tea.body %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>